<!-- <h1>Editing mining type</h1>

<%= render "form", mining_type: @mining_type %>

<br>

<div>
  <%= link_to t("links.show"), @mining_type %> |
  <%= link_to t("links.back"), mining_types_path %>
</div> -->


<div class="col-lg-8 mx-auto">
  <div class="card shadow">
    <div class="card-header">
      <h1 class="cart-title">Edit Mining Type</h1>
    </div>
    <div class="card-body">
      <%= render "form", mining_type: @mining_type %>
    </div>
  </div>
</div>
